<div class="marquis" >
		<div class=marquis__title>
			{{post.meta('marquis-title')}}
		</div>
    <div class=marquis__subtitle>
      {{post.meta('marquis-subtitle')}}
    </div>
    <div class=marquis__blurb>
      {{post.meta('marquis-blurb')}}
    </div>
    {% if cta == 'visible' %}
		  <div class="button button--cta">
			   <a href={{post.meta('cta-link')}}>{{post.meta('cta-text')}}</a>
		   </div>
    {% endif %}
	</div>
