<div class="symbols">
  <div class="symbols__container">
    <div class="symbols__block">
      <div class="symbols__lottie" id="lottie-symbol1"></div>
      <div class="symbols__heading">{{post.meta('symbol1').heading}}</div>
      <div class="symbols__text" >{{post.meta('symbol1').text}}</div>
    </div>
    <div class="symbols__block">
      <div class="symbols__lottie" id="lottie-symbol2"></div>
      <div class="symbols__heading">{{post.meta('symbol2').heading}}</div>
      <div class="symbols__text" >{{post.meta('symbol2').text}}</div>
    </div>
    <div class="symbols__block">
      <div class="symbols__lottie" id="lottie-symbol3"></div>
      <div class="symbols__heading">{{post.meta('symbol3').heading}}</div>
      <div class="symbols__text" >{{post.meta('symbol3').text}}</div>
    </div>
    <div class="symbols__block">
      <div class="symbols__lottie" id="lottie-symbol4"></div>
      <div class="symbols__heading">{{post.meta('symbol4').heading}}</div>
      <div class="symbols__text" >{{post.meta('symbol4').text}}</div>
    </div>
  </div>
</div>
